@import "../../constants.scss";

.textField {
  margin: 10px;
  width: 90%,
}

.labelColor {
  color: rgba($black, 0.54);
  padding: 0;
  font-size: 1rem;
  margin: 15px 10px;
}

.card {
  width: $leftComponentsWith;
}

.cardHeader {
  align-items: center;
  background-color: $headerBackgroundGrey;
  display: flex;
  min-height: 70px;
  justify-content: center;
  width: 100%;
}
