.label {
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
  border-radius: 3px;
}

.labelTitle {
  padding: 4px 8px;
  line-height: 2;
  border-radius: 3px;
  background-color: #98EBED;
  border: .5px solid #000;
  margin-right: 2px;
}

.labelTitle2 {
  padding: 4px 8px;
  line-height: 2;
  border-radius: 3px;
  background-color: aquamarine;
  border: .5px solid #000;
  margin-left: 2px;
}
